body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.container {
  width: 400px;
  margin: 50px auto;
  text-align: center;
}

.card {
  background: #fff;
  padding: 20px;
  border-radius: 5px;
  margin-top: 20px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
}

.btn {
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.logout {
  background: red;
}

.error {
  color: red;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-card {
  background: white;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-radius: 4px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
